/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  /* deleted properties */
  /* max-width: 1140px;
  margin: auto; */
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}
/* ---------------------------------------------------------------- */
/* style added */

/* (1.2) - filter section */

.filters {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 51px;
}

button {
  cursor: pointer;
  height: 37px;
  font-family: "Syne";
  font-weight: 700;
  color: #1d6154;
  background-color: transparent;
  margin: 2em auto;
  text-align: center;
  border-radius: 60px;
  border: solid 1px #1d6154;
  padding: 9px 15px 9px 15px;
  margin: 0;
}
button:hover {
  background-color: #0e2f28;
  color: white;
}

.active {
  background-color: #1d6154;
  color: white;
}

/* (2.1) - login link section */
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:hover {
  color: #b1663c;
}

/* (2.1) - login page */
.login {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

.login header {
  max-width: 1140px;
  margin: auto;
  margin-top: 50px;
}

.login h1 {
  margin-right: 648px;
  white-space: nowrap;
}

.login-content {
  flex: 1;
}

.login-link {
  font-weight: bold;
}

.login-footer {
  max-width: 1140px;
  width: 100%;
}

.login-footer ul {
  margin-left: 20px;
}

.center {
  margin-top: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.center .connexion {
  margin-top: 37px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
}
.email,
.password {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.connexion input {
  width: 379px;
  height: 51px;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.connexion input[type="submit"] {
  height: 36px;
  width: 179px;
  margin: 0;
  padding: 0;
}

.connexion a {
  text-decoration: underline;
}

/* (3.1) - modal section */
/* button open modal */
.mesprojets {
  display: flex;
  justify-content: center;
}

.mesprojets h2 {
  margin-left: 109px;
}
.openModal {
  display: none;
  cursor: pointer;
  padding-top: 7.5px;
  padding-left: 33px;
}

.openModal i {
  padding-right: 8px;
}
/* banner section */
.homecontainer {
  max-width: 1140px;
  margin: auto;
}
#banner {
  background-color: black;
  color: #ffffff;
  padding-top: 15px;
  text-align: center;
  display: none; /* Masquer la bannière par défaut */
  width: 100%;
  max-width: none;
  margin: 0;
  box-shadow: 0px 0px 5px 0px #000000;
  height: 30px;
}
/* modal area */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  width: 396px;
  height: 459px;
  background-color: #fefefe;
  margin: 10% auto;
  padding: 85px;
  border: 1px solid #888;
  border-radius: 13px;
}

.modal-content-1 {
  display: block;
}

.modal-content-2 {
  display: none;
}

.close {
  position: relative;
  color: #aaa;
  left: 435px;
  top: -64px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.titlemodal {
  margin-top: -52px;
  margin-bottom: 45px;
  font-size: 26px;
  text-align: center;
}

.trait {
  height: 1px;
  width: 100%;
  background-color: #b3b3b3;
}

.modal-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 33px;
  margin-top: 30px;
}

#openModal2 {
  width: 237px;
}
/* gallery */
.imgmodal {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
}

.imgmodal img {
  width: 100%;
}

.trash {
  background-color: black;
  width: 15px;
  height: 15px;
}

.fa-trash-can {
  color: white;
  font-size: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.delete-button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  bottom: 95px;
  left: 52px;
}

/* form */

.modal-content-2 .titlemodal {
  margin-top: -75px
}

.modal-content-2 .close {
  position: relative;
  top: -89px;
}
.back {
  position: relative;
  top: -63px;
  left: -58px;
  font-size: 24px;
  cursor: pointer;
}
#imageFile {
  position: relative;
  opacity: 0;
  padding: 16px;
  cursor: pointer;
  font-size: 0px;
  width: 108px;
}

.miniature2 {
  display: block;
}
.miniature {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  opacity: 1;
}

.btn-primary {
  font-family: "Work Sans";
  border-color: #cbd6dc;
  color: #306685;
  background-color: #cbd6dc !important;
  margin-bottom: -47px;
  cursor: pointer;
}

.rectangle {
  background-color: #e8f1f6;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 35px;
  opacity: 1;
}

.rectangle img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  position: relative;
  top: -69px;
}

.rectangle p {
  color: #444444;
  font-size: 10px;
  margin: 0;
  padding: 0;
}

.fa-image {
  font-size: 60px;
  color: #b9c5cc;
  margin-top: -10px;
}

.ajoutform {
  display: flex;
  flex-direction: column;
}

#imageTitle,
#imageCategory {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#imageCategory {
  appearance: none;
  margin-bottom: 40px;
  cursor: pointer;
}

.fa-chevron-down {
  position: relative;
  top: 31px;
  left: 358px;
  width: 0;
  color: #6c6c6c;
}
.modal-content-2 label[for="imageTitle"] {
  margin-bottom: 10px;
}
.modal-content-2 label[for="imageCategory"] {
  margin-bottom: -10px;
}
.modal-content-2 input[id="imageTitle"] {
  margin-bottom: 10px;
}
input[value="Valider"] {
  background-color: #a7a7a7;
  border: #a7a7a7;
  height: 36px;
  cursor: pointer;
}
input[value="Valider"]:hover {
  background-color: #1d6154;
}